<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Dojo Survey Index</title>
</head>
<body>
<div class="container">
    <h2> Submitted Info:</h2>
    <table>
        <tr>
            <td>Name:</td><td>{{session["name"]}}</td>
        </tr>
        <tr>
            <td>Dojo Location: </td><td>{{session["location"]}}</td>
        </tr>
        <tr>
            <td>Favorite Language: </td><td>{{session["language"]}}</td>
        </tr>
        <tr>
            <td>Comment: </td><td>{{session["comment"]}}</td>
        </tr>
    </table>
    <form action="/">
        <button>Back</button>
    </form>


</div>

</body>
</html>