.console {
    margin: 30px auto;
    width: 400px;
    text-align: center;
    background-color: silver;
    border-radius: 10px

}

.console form, .console table {
    display: inline-block;
    margin-bottom: 10px;
}