<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <title>Session Counter</title>
</head>
<body>
<div class="container">
    <div class="console">
        <h1>Counter</h1>
        <p>Counter: {{counter}}</p>
        <p>Visits: {{loads}}</p>
        <form action="/twice" method="post">
            <button class="btn btn-primary">Two Visits</button>
        </form>
        <form action="/reset" method="post">
            <button class="btn btn-danger">Clear Counter</button>
        </form>
    </div>
    <form action="/custom_count" method="post" class="console">
        <table>
            <tr>
                <td><label>Increment Amount</label></td>
            </tr>
            <tr>
                <td><input name="increment"></td>
            </tr>
            <tr>
                <td><button class="btn btn-warning">Submit</button></td>
            </tr>
        </table>



    </form>
</div>
</body>
</html>