<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <title>Session Counter</title>
</head>
<body>
<div class="container">
    <div class="console">
        <h1>Counter</h1>
        <p>Visits: {{counter}}</p>
        <form action="/twice" method="post">
            <button class="btn btn-primary">Two Visits</button>
        </form>
        <form action="/clear" method="post">
            <button class="btn btn-danger">Clear Counter</button>
        </form>
    </div>
</div>
</body>
</html>